<footer class="site-footer">
<div id="footer">
 <div class="wrapper">
        <ul>
          <li><a target="_blank" href="http://hybrid-plattform.org/"><img src="/images/sponsors/hybridplatform.png" /></a></li>
          <li><a target="_blank" href="http://www.tu-berlin.de/"><img src="/images/sponsors/tuberlin.png" /></a></li>
          <li><a target="_blank" href="http://www.einsteinfoundation.de/de/start/"><img src="/images/sponsors/einsteinfoundation.png" /></a></li>
          <li><a target="_blank" href="http://www.ak.tu-berlin.de/menue/fachgebiet_audiokommunikation/"><img src="/images/sponsors/audiokommunikation.png" /></a></li>
          <li><a target="_blank" href="https://www.udk-berlin.de/startseite/"><img src="/images/sponsors/udk.png" /></a></li>
          <li><a target="_blank" href="http://www.3dmin.org/"><img src="/images/sponsors/3dmin.png" /></a></li>
        </ul>
	<p><a href="/build/disclaimer.html#impressum-angaben-gem--5-tmg">Impressum</a></p>
  </div>
</div>
</footer>
