<header class="site-header">
  	<nav class="nav-main">
    	<div class="wrapper">
	    	<ul>
		    	<li><a class="start" href="/index.html#top">{{ site.title }}</a><span class="start">{{ page.url }}</span></li>
		    		{% if page.url == "/" %}
		    		{% assign sorted_pages = site.start | sort:"order" %}
					{% for post in sorted_pages %}
					<li><a class="{{post.title}}" href="#{{post.title}}">{{post.title}}</a></li>
					{% endfor %}
					{% endif %}
    		</ul>
    	</div>
	</nav>  
</header>
