/* GOBAL */

$look: #ffd37a;
$build: #75ebb0;
$code: #ffa27a;
$play: #8cddf3;

body {
	font-family: 'Lato', sans-serif;
	font-size: 62.5%;
	box-sizing: border-box;
}

.anchor {
	height: 150px;
	display: block;
}

/* NAVIGATION*/

nav.nav-main {
	.wrapper {
		width: 90vw;
		margin: 0 auto;
	}
	font-size: 2em;
	position: fixed;
	z-index: 999;
	padding: 20px 0;
	background: white;
	width: 100%;
	ul {
	display: -webkit-box;
		li {
			display: flex;
			-webkit-box-align: center;
			align-items: center;
			-webkit-box-flex: 1;
			font-family: 'Inconsolata', ;
			a:link {
				border: 2px solid black;
				padding: 12px 40px;
				border-radius: 4px;
				color: black;
				text-decoration: none;
			}
			&:first-child {
				-webkit-box-flex: 2;
				a:link {
					padding: 0;
				}
			}
		}
		a.start, .start {
			border: none !important;
			font-family: 'Lato', sans-serif;
			font-weight: 700;
		}
		.start {
			font-weight: 400;
		}
		a.look {
			color: $look;
			&:hover {
				background: $look;
				color: white;
			}
		}
		a.build {
			color: $build;
			&:hover {
				background: $build;
				color: white;
			}
		}
		a.code {
			color: $code;
			&:hover {
				background: $code;
				color: white;
			}
		}
		a.play {
			color: $play;
			&:hover {
				background: $play;
				color: white;
			}
		}
	}
}

/* INDEX */

section {
	min-height: 100vh;
	color: white;
	padding-bottom: 100px;
		h1 {
			font-size: 2.5em;
		}
		p, li {
			font-size: 1.6em;
			line-height: 1.3em;
		}
	.wrapper {
		width: 90vw;
		margin: 0 auto;
	}
}

section.start {
	background: url(/img/IMG_6462.jpg) no-repeat center center white;
	background-size: contain;	
}
section.look {
	background: $look;
	.wrapper {
		width: 60vw;
		p {
			font-size: 2.4em;
			margin-bottom: 1em;
		}
		h2 {
			font-size: 1em;
		}
		ul {
			margin-bottom: 4em;
			list-style: disc;
			margin-left: 2em;
			li {
				line-height: 1.5;
			}
		}
	}
}
section.build {
	background: $build;
	.wrapper {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-flow: row wrap;
		-webkit-justify-content: center;
			article {
				width: 20vw;
				-webkit-flex-flow: row wrap;
				margin-bottom: 10vh;
				.circle {
					height: 15vw;
					width: 15vw;
					border-radius: 50%;
					border: 0.8em solid white;
					margin: 0 auto;
					z-index: 88;
					box-sizing: border-box;
					transition: all .2s ease-in-out;
					&:hover {
						transform: scale(1.1);
					}
				}
				h1 {
					margin-top: 1.5em;
					text-align: center;
				}
			}
	}
}
section.code {
	background: $code;
}
section.play {
	background: $play;
}

/* PAGE: BUILD */ 

body.build {
	background: $build;
	section.build-start {
		background-size: cover !important;
		.column {
			display: -webkit-box;
			display: -moz-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			justify-content: space-between;
			margin-top: 4em;
			align-items:flex-start;
			.col-1 {
				margin: 0 1em;
				width: 20vw;
				border: 1px solid white;
				padding: 2em;
				a:link, a:visited {
					text-decoration: none;
					color: white;
				}
				&:first-child {
					margin: 0;
				}
				&:last-child {
					margin: 0;
				}
				h1 {
					display: block;
					margin: 0 0 1em 0;
				}
				ul {
					margin-bottom: 1em;
					li {
						list-style: none;
						font-weight: bold;
					}
					a:link, a:visited {
						color: white;							
					}
					ul.nested {
						li {
							font-weight: normal;
							list-style: circle;
							margin-left: 1em;
						}
					}
				}
				ol {
					li {
						list-style: decimal;
						margin-left: 1em;
					}
					.active {
						text-decoration: underline;
					}
				}
			}
		}
	}
	section.content {
		margin-top: 10em;
		
		.column {
			position: relative;
			.col-1 {
				margin: 0 1em;
				width: 22%;
				border: 1px solid white;
				padding: 2em;
				box-sizing: border-box;
				a:link, a:visited {
					text-decoration: none;
					color: white;
				}
				&:first-child {
					margin: 0;
				}
				&:last-child {
					margin: 0;
				}
				h1 {
					display: block;
					margin: 0 0 1em 0;
				}
				ul {
					margin-bottom: 1em;
					li {
						list-style: none;
						font-weight: bold;
					}
					a:link, a:visited {
						color: white;							
					}
					ul.nested {
						li {
							font-weight: normal;
							list-style: circle;
							margin-left: 1em;
						}
					}
				}
				ol {
					li {
						list-style: decimal;
						margin-left: 1em;
					}
					.active {
						text-decoration: underline;
					}
				}
			}
		}
		.fixed {
			position: fixed;
			top: 100px;
			display: none;
			
		}
		.col-3 {
			float: right;
			width: 70%;
			box-sizing: border-box;

				h2 {
					margin: 10em 0 1em 0;
					font-size: 2.5em;
					font-weight: bold;
					&:first-child {
						margin: 2em 0 1em 0;
					}
				}
				ul {
					margin-bottom: 2em;
					padding-left: 2em;
					li {
						list-style: disc;
					}
				}
				p {
					margin: 0 0 2em 0;
					max-width: 650px;
					line-height: 1.5;
				}
				strong {
					font-weight: 700;
				}
				em {
					font-style: italic;
				}
				pre {
					font-family: 'Inconsolata';
					font-size: 2em;
					line-height: 1.5;
					margin: 0 0 1.5em 0;
					color: black;
					padding: 0.5em;
					max-width: 650px;
					overflow-x: scroll;
				}
				
				p.note, .note {
					font-family: 'Inconsolata';
					border: 1px solid white;
					padding: 0.5em;
					display: block;
					font-size: 1.3em;
					line-height: 1.5;
				}
				
				.sub-step {
					margin-top: 10em;
				}
				img {
					max-height: 75vh;
					width: auto;
					border: 1em solid white;
					transition: all .2s ease-in-out;
					display: block;
					margin-bottom: 0.5em;
				}
				p {
				}
			}
	} 
}
