<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="build">

    {% include header.html %}
	<section class="build-start" style="background: url('../images/{{ page.title | slugify }}/a_cover.jpg') no-repeat center center;">
	    <span class="anchor"></span>
		<div class="wrapper">
			<div class="text">
				<div class="column">
					<div class="col-1">
						<h1>{{ page.title | capitalize }} steps</h1>
						<div class="toc-output"></div>	
					</div>
					<div class="col-1">
						<h1>Tools</h1>
							<ul>
							{% for tool in page.tools %}
							<li>{{ tool }}</li>
							{% endfor %}
							</ul>
					</div>
					<div class="col-1">
						<h1>Materials</h1>
							<ul>
							{% for material in page.materials %}
							<li>{{ material }}
							{% endfor %}
							</ul>
					</div>
					<div class="col-1">
						<h1>Files</h1>
							<ul>
							{% for file in page.files %}
							<li><a href="/sources/{{page.title}}/{{file[1]}}">{{ file[0] | append:'</a>' }}</li>
							{% endfor %}
							</ul>
					</div>
				</div>
			</div>
			
		</div>
	</section>

    <section class="content">
		<div class="wrapper content">
			
			<div class="column">
				<div class="fixed">
					<div class="col-1">
						<h1>{{ page.title | capitalize }} steps</h1>
						<div class="toc-output"></div>
					</div>
					<hr />
					<div class="col-1">
						<h1>Make it</h1>
						<ul>
						{% assign sorted_pages = site.build | sort:"order" %}
						{% for post in sorted_pages %}
							<a href="{{post.url}}"><li>{{post.title}}</li></a>
						{% endfor %}
						</ul>
					</div>
				</div>
				<div class="col-3">
					{{ content }}
				</div>
			</div>
			
			
		</div>
	</section>
    	
    </section>
	
	
	
	<script>
		var ToC =
		  "<nav role='navigation' class='table-of-contents'>" +
		  "<ul>";
		var newLine, el, title, link;
		
		$(".column h2").each(function() {
		  el = $(this);
		  title = el.text();
		  link = "#" + el.attr("id");
		
		  newLine =
		    "<li>" +
		      "<a href='" + link + "'>" +
		        title +
		      "</a>" +
		    "</li>";

		  ToC += newLine;
		
		});
		
		ToC +=
		   "</ul>" +
		  "</nav>";
		
		$(".toc-output").html(ToC);
	</script>

  </body>
</html>
